@import 'tailwindcss';

@theme {
  --font-secondary: 'Baloo 2', sans-serif;
  --font-sans: 'Montserrat', sans-serif;
  --color-primary: #162f39;
  --color-secondary: #017381;
  --color-tertiary: #00b0af;
}

@layer components {
  .font-light {
    font-family: var(--font-sans);
    font-weight: 300;
  }

  .font-base {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: var(--color-primary);
  }

  .font-bold {
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
  }

  .font-title {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5.7rem;
  }

  .container {
    max-width: 1244px;
  }
}