---
import Layout from '../layouts/Layout.astro';
import ServicesWhat from '../components/ServicesWhat.astro';
import ServicesCurrent from '../components/ServicesCurrent.astro';
import ServicesNext from '../components/ServicesNext.astro';
---

<Layout>
  <div
    class="bg-[url(/src/assets/serviceshero.png)] bg-no-repeat bg-top bg-cover h-[70vh]"
  >
  </div>
  <ServicesWhat />
  <ServicesCurrent />
  <ServicesNext />
</Layout>
