<footer>
  <div>
    <img src="/src/assets/logo.svg" alt="logo" class="h-25" />
    <p class="font-base text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  </div>
  <div>
    <p class="font-base text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  </div>
  <div>
    <p class="font-base text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  </div>
</footer>
