---
import Button from './Button.astro';
---

<section
  class="bg-[url(/src/assets/homehero.png)] bg-no-repeat py-60 bg-top bg-cover flex flex-col gap-20 items-center justify-center mt-30"
>
  <div class="w-4xl">
    <h1
      class="text-center font-title text-white text-shadow-[0_6px_6px_rgb(0_0_0_/_0.25)]"
    >
      Cuidamos <span class="bg-primary rounded-full px-2">de ti,</span><br /> para
      que tu puedas cuidar de los <span class="px-2 bg-primary rounded-full"
        >que amas.</span
      >
    </h1>
  </div>

  <div>
    <Button href="/" label="Consultorios" />
    <Button href="/" label="Laboratorio" variant="secondary" />
  </div>
</section>

<div class="bg-secondary h-10"></div>
