---
import { Image } from 'astro:assets';
import iso from '../assets/iso.png';
---

<section class="-mt-25 flex flex-col gap-10 container mx-auto pb-25">
  <Image src={iso} alt="isotipo" width={200} class="mx-auto" />
  <h1 class="text-secondary text-center font-title font-bold text-4xl">
    Servicios Medicos
  </h1>
  <p class="font-bold text-center max-w-[60ch] mx-auto">
    En Hospital Central de los Altos, te ofrecemos servicios médicos ágiles,
    confiables y de calidad desde el primer día. Contamos con personal
    capacitado y comprometido con tu salud.
  </p>
</section>
