---
import Slideshow from './Slideshow.astro';
---

<section class="bg-[#f5f5f5]">
  <div class="container mx-auto p-10">
    <h2 class="text-center font-title font-bold text-4xl">
      ¿Que servicios <br /> puedes encontrar hoy?
    </h2>
    <Slideshow />
  </div>
</section>
