<section class="grid grid-cols-2 container p-4 mx-auto items-center justify-between bg-primary">
  <div class="flex justify-center flex-col bg-secondary">
    <h2 class="font-bold text-4xl text-center">Quienes somos?</h2>
    <p>
      Creemos que la salud es la base para que las personas vivan con dignidad y plenitud. Ofrecemos
      atención médica cercana, confiable y de alta calidad, respaldada por tecnología y un equipo
      humano comprometido.
    </p>
  </div>

  <div class="bg-secondary flex items-center justify-center">
    <img src="/src/assets/image1.png" alt="" />
  </div>
</section>
